<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLLOCATION">
            <Component Id="cmpB3E4A7DDEAC065AD8D3CCAA73B8578CD" Guid="{956A8984-A2B8-495E-BE31-B6848BA7FA8B}">
                <File Id="filF52D740EE776ACB7ACF70C96F6238E8C" KeyPath="yes" Source="$(env.ZAsteroidsFiles)\DPSF.dll" />
            </Component>
            <Component Id="cmp0F89F3573888378007DFA95FEE6B82C4" Guid="{1EE5D387-5D44-44F7-A72B-675E9A76EF0A}">
                <File Id="filFEB152E72748FEDE52ED6A3BC9A813BF" KeyPath="yes" Source="$(env.ZAsteroidsFiles)\DPSF.xml" />
            </Component>
            <Component Id="cmpAE0686AA57B59F974ACCF797BE8B4210" Guid="{EDAD07E7-1DAF-4EC6-A669-6E09D9321E4C}">
                <File Id="filE84EC17BBA7436AD7C0CBFB246B396C1" KeyPath="yes" Source="$(env.ZAsteroidsFiles)\Game Core.dll" />
            </Component>
            <Component Id="cmpA357D69AF0FF086ECD9255CE53F25F46" Guid="{6A5B9F21-5410-433D-B4B2-5C7E22151876}">
                <File Id="fil16963EFBA64A97E44A0A129BEE16ACCA" KeyPath="yes" Source="$(env.ZAsteroidsFiles)\Game Core.pdb" />
            </Component>
            <Component Id="cmp2E8A6C0B9938EFC5053FFA1682236B40" Guid="{00E72390-F0DC-480D-89EE-D0A7E050A275}">
                <File Id="filB80DDBF2A58D7307442DB33DC20B2243" KeyPath="yes" Source="$(env.ZAsteroidsFiles)\SharedContent.dll" />
            </Component>
            <Component Id="cmpDFB05D9FDE23E77022DC14C813CFAF3B" Guid="{8C99CC91-F140-43C0-B48A-11A127E38235}">
                <File Id="fil3F5B5B260A80319E4A7D4FCE1E1ED1E7" KeyPath="yes" Source="$(env.ZAsteroidsFiles)\SharedContent.pdb" />
            </Component>
            <Component Id="cmp1E7FB58BC8BFD35B7D9E2FFC4C81DEAF" Guid="{A6884543-BC41-456B-821E-081374E6AB6B}">
                <File Id="filB2DB9C586AFD6C74C5968819E4C754D1" KeyPath="yes" Source="$(env.ZAsteroidsFiles)\TemplateCore.dll" />
            </Component>
            <Component Id="cmpD76D1052C222ACE90EEA608C085EA1BC" Guid="{95FB769E-6345-4B2F-99CD-ECC622E639BC}">
                <File Id="fil9ED0F4B6CE59243FD21B6C6BB5564D69" KeyPath="yes" Source="$(env.ZAsteroidsFiles)\TemplateCore.pdb" />
            </Component>
            <Component Id="cmpBEBD35B691DB47E9F5F97A7926ED1D0A" Guid="{60B787C2-6EA8-43B1-95A5-B392F540E5EE}">
                <File Id="fil97E638262739A4B1962A4BF53885C381" KeyPath="yes" Source="$(env.ZAsteroidsFiles)\Xclna.Xna.Animationx86.dll" />
            </Component>
            <Component Id="cmp6A17A3264536E8010E742D990CC912C1" Guid="{0A9589D0-DB44-48DF-AB49-4146121221F1}">
                <File Id="filF85A2D6B425B30E845B132FCAB6A2073" KeyPath="yes" Source="$(env.ZAsteroidsFiles)\ZAsteroids.exe" />
            </Component>
            <Component Id="cmp0A6A2A9F60045013F48E424F80CA0966" Guid="{221E87B9-BB45-4DD2-802F-8434090E5CC7}">
                <File Id="filDAF40ACB12B5490329CA290CE065CC7D" KeyPath="yes" Source="$(env.ZAsteroidsFiles)\ZAsteroids.pdb" />
            </Component>
            <Component Id="cmp53672509BFA3B7A53FCABA62670A80F8" Guid="{C61FC1BD-411F-4F9E-A884-ADBC1948AA58}">
                <File Id="fil6436D33C6288926E81A7137187795A30" KeyPath="yes" Source="$(env.ZAsteroidsFiles)\Zita Asteria v2.ico" />
            </Component>
            <Directory Id="dir0315B7A45FC1A1C4D6B10FCA53856137" Name="BaseContent">
                <Directory Id="dir347533EA85493F0D284F9E9C3BFC65CD" Name="Fonts">
                    <Component Id="cmpF1553A12B25D3F72AC6D88E67289416D" Guid="{8567D6A7-9484-40EC-A215-36CB8E680B6B}">
                        <File Id="fil6F5B4F96B0F1E796DB207C3BD10811DA" KeyPath="yes" Source="$(env.ZAsteroidsFiles)\BaseContent\Fonts\AlienLeague12pt.spritefont" />
                    </Component>
                    <Component Id="cmp1141B678A991607A4FD799B3A9E32C2A" Guid="{C8957790-B7CC-4AF1-80B4-408A1FF7FE44}">
                        <File Id="fil4F0CAC43EB172E6FFF455E8FD54DAA94" KeyPath="yes" Source="$(env.ZAsteroidsFiles)\BaseContent\Fonts\AlienLeague15pt.spritefont" />
                    </Component>
                    <Component Id="cmpF1D34CE405F73D5D0772AD37BBAE9BDE" Guid="{07F4D045-8501-49DD-B631-D71960232729}">
                        <File Id="fil57E66474DB2C794357D40F3554753086" KeyPath="yes" Source="$(env.ZAsteroidsFiles)\BaseContent\Fonts\AlienLeague18pt.spritefont" />
                    </Component>
                    <Component Id="cmpA892FF9AA192352617C293B7C6D38EF8" Guid="{F61853F6-93CF-460F-9918-E61B980AA7AB}">
                        <File Id="fil28B27FB0E028C53141067AD485D85A27" KeyPath="yes" Source="$(env.ZAsteroidsFiles)\BaseContent\Fonts\AlienLeague28pt.spritefont" />
                    </Component>
                </Directory>
            </Directory>
            <Directory Id="dir2468E12107F9662572B12A2D39C3FB6F" Name="Menu System Content">
                <Directory Id="dir1C42E778637B06C95D867635F3631E13" Name="SPHEREs">
                    <Component Id="cmp1332E1B43A6354D4AFF4F9FABF1BA1A9" Guid="{5AB22420-29A8-42A6-9107-FAC2B409A303}">
                        <File Id="filE7232D183431ABABDEB0D5C831D78C8B" KeyPath="yes" Source="$(env.ZAsteroidsFiles)\Menu System Content\SPHEREs\SPHERES.X" />
                    </Component>
                </Directory>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="ZAsteroidsFiles">
            <ComponentRef Id="cmpB3E4A7DDEAC065AD8D3CCAA73B8578CD" />
            <ComponentRef Id="cmp0F89F3573888378007DFA95FEE6B82C4" />
            <ComponentRef Id="cmpAE0686AA57B59F974ACCF797BE8B4210" />
            <ComponentRef Id="cmpA357D69AF0FF086ECD9255CE53F25F46" />
            <ComponentRef Id="cmp2E8A6C0B9938EFC5053FFA1682236B40" />
            <ComponentRef Id="cmpDFB05D9FDE23E77022DC14C813CFAF3B" />
            <ComponentRef Id="cmp1E7FB58BC8BFD35B7D9E2FFC4C81DEAF" />
            <ComponentRef Id="cmpD76D1052C222ACE90EEA608C085EA1BC" />
            <ComponentRef Id="cmpBEBD35B691DB47E9F5F97A7926ED1D0A" />
            <ComponentRef Id="cmp6A17A3264536E8010E742D990CC912C1" />
            <ComponentRef Id="cmp0A6A2A9F60045013F48E424F80CA0966" />
            <ComponentRef Id="cmp53672509BFA3B7A53FCABA62670A80F8" />
            <ComponentRef Id="cmpF1553A12B25D3F72AC6D88E67289416D" />
            <ComponentRef Id="cmp1141B678A991607A4FD799B3A9E32C2A" />
            <ComponentRef Id="cmpF1D34CE405F73D5D0772AD37BBAE9BDE" />
            <ComponentRef Id="cmpA892FF9AA192352617C293B7C6D38EF8" />
            <ComponentRef Id="cmp1332E1B43A6354D4AFF4F9FABF1BA1A9" />
        </ComponentGroup>
    </Fragment>
</Wix>